.list-group .list-group-item:first-child {
    color: #aca8a8;
    background-color: rgba(16,16,16,0.9);
}
.list-group .list-group-item a {
    color: inherit;
}
a.load-albums {
    color: white;
    background-color: rgba(16,16,16,0.9);
    opacity: 0.92;
}
a.load-albums:hover {
    opacity: 1;
    color: white;
}
.add-album-button-container {
    margin-bottom: 20px;
    color: white;
}
.btn-default .like-badge {
    font-size: 10px;
    vertical-align: baseline;
    background-color: #6e6565;
}
.thumbnail a.album-image > img {
    height: 170px;
}
@media screen and (max-width: 780px) {
    .thumbnail a.album-image > img {
        height: auto;
    }
}