header.all-songs-header {
    margin-bottom: 30px;
}
.all-songs .all-songs-head {
    margin-bottom: 16px;
}
.all-songs .all-songs-head img {
    height: 23px;
    margin-top: 20px;
    box-shadow: 0 0 0 1px white;
    border-radius: 3px;
    float: right;
}
.all-songs .all-songs-head img:hover {
    box-shadow: 0 0 0 2px white;
}
.all-songs .all-songs-head h1.album-head {
    padding-left: 10px;
    font-weight: 700;
    font-size: 21px;
    text-decoration: underline;
    display: inline-block;
}
.all-songs .all-songs-head h1.album-head:hover {
    opacity: 0.88;
}
.all-songs .all-songs-head h1.album-head a {
    color: inherit;
}
.all-songs .all-songs-head small {
    margin-left: 5px;
}
.all-songs .songs-table-wrapper {
    margin-bottom: 60px;
}