.artist-about {
    margin-top: 15px;
    padding-top: 12px;
    border-top: 1px solid #222;
}
.artist-about .title {
    font-size: 18px;
}
.artist-about .bio {
    padding-left: 15px;
    font-size: 13px;
}
.add {
    margin-top: 15px;
    margin-left: 10px;
}
.actions {
    border-top: 1px solid #222;
    padding-top: 25px;
    margin-top: 10px;
}
.thumbnail a > img.social-media {
    margin-right: 5px;
    margin-left: 0;
    width: 16px;
    display: inline-block;
}
.label-custom {
    background-color: #222;
}
.social-media:hover {
    opacity: 0.88;
}
.event-heading {
    background: #222;
    color: #9d9d9d;
}
.event-footer {
    background: #222;
    color: #9d9d9d;
}
.event-footer span {
    margin-right: 23px;
    font-size: 12px;
    display: inline-block;
}