/**************
   Animations
 *************/
/* Safari 4.0 - 8.0 */
@-webkit-keyframes slidepopup {
    0%   {top: -230px;}
    100% {top: 30%;}
}

/* Standard syntax */
@keyframes slidepopup {
    0%   {top: -230px;}
    100% {top: 30%;}
}
/************
   General
 ***********/
* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}
a, a:visited, a:link, a:hover {
    text-decoration: none;
}
body {
    background-color: #ebebeb;
}
.navbar {
    border-radius: 0;
    font-size: 12.5px;
}
.satisfy {
	font-family: Satisfy, sans-serif;
	font-size: 20px;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.clear {
    clear: both;
}
ul.errorlist {
    list-style-type: none;
    padding-left: 0;
    color: #962d2d;
}
@media screen and (max-width: 630px) {
    .main-container {
        padding-left: 0;
        padding-right: 0;
    }
}
.search-album {
    display: inline-block;
}
.like-badge-wrapper {
    margin-bottom: 12px;
}
.thumbnail > .image-wrapper {
    position: relative;
}
.thumbnail > .image-wrapper:hover .change-photo {
    display: block;
}
.thumbnail > .image-wrapper .change-photo {
    position: absolute;
    bottom: 0;
    background: black;
    opacity: 0.6;
    width: 100%;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    display: none;
}
.thumbnail > .image-wrapper .change-photo:hover {
    opacity: 0.52;
}
.thumbnail > .image-wrapper .change-photo .change-photo-text {
    color: white;
    display: block;
    text-align: center;
}
.thumbnail > .image-wrapper > img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 100%;
    height: auto;
}