div.form-group {
    position: relative;
}
.create-new-album {
    margin-bottom: 25px;
}
.new-album {
    border: 1.2px solid #aaa;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 25px;
    background: white;
    max-width: 600px;
}
.new-album form label {
    margin-bottom: 5px;
    margin-left: 5px;
}
.new-album form div.form-group label[for="id_logo"]::before {
    content: "Upload file or supply a link:";
    display: block;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #5cb85c;
}
.new-album form input[type="text"],
.new-album form input[type="email"],
.new-album form input[type="password"],
.new-album form input[type="url"],
.new-album form input[type="number"] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fcfcfc;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.new-album form .required-asterik {
    color: #a11616;
}
.new-album form input[type="number"] {
    max-width: 150px;
}
.new-album form textarea {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fcfcfc;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.new-album form input:focus {
    background-color: white;
}
ul#id_gender {
    padding-left: 0;
    list-style-type: none;
}
.new-album .error-message {
    display: inline-block;
    padding: 5px;
}
.new-album .helptext {
    display: block;
    margin-bottom: 40px;
    margin-top: -30px;
    color: #962d2d;
}
.new-album form input[type="text"].filter-select-options {
    background: white;
    border-radius: 0;
    height: 30px;
    margin-bottom: 0;
}
.virtual-checkbox {
    background: #222;
    color: white;
    border-radius: 100%;
    margin-left: 5px;
    text-align: center;
    cursor: pointer;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 11px;
    vertical-align: middle;
}
.virtual-checkbox:hover {
    opacity: 0.8;
}