.overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.85);
}
.confirm-popup {
    max-width: 420px;
    height: auto;
    padding: 25px;
    border: 1.2px solid #101010;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    display: none;
    animation: slidepopup 0.2s;
    animation-timing-function:linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    -webkit-animation: slidepopup 0.2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function:linear;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
}
.confirm-popup div h4 {
    line-height: 1.8;
}
.confirm-popup .confirm-form {
    margin-top: 30px;
}
/*************
  Song Player
 *************/
.play-song-popup {
    position: fixed;
    bottom: 0;
    right: 15px;
    display: none;
    border: 1px solid #645e5e;
    background: white;
}
.play-song-popup .play-song-head {
    padding: 4px 11px;
    border-bottom: 1px solid #aaa;
    font-size: 12px;
    background: #101010;
    color: #c9c9c9;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.play-song-popup .play-song-close {
    position: relative;
    left: 1px;
    top: 3px;
    cursor: pointer;
}
.play-song-popup .play-song-close:hover {
    opacity: 0.85;
}
/*************
  File Upload
 *************/
.file-upload-popup {
    height: auto;
}
.file-upload-popup div .file-drag {
    border: 3px dashed #645555;
    background: #c3c3c3;
    width: 100%;
    height: 160px;
    line-height: 158px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}
.file-upload-popup .file-drag img {
    max-width: 100%;
    max-height:155px;
}
.file-upload-popup .file-drag .audio-container {
    max-width: 100%;
    max-height: 155px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25%;
    line-height: 1.45;
}
.file-upload-popup .file-drag .audio-container p {
    padding: 0 10px;
    text-shadow: 0 0 5px white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.file-upload-popup .photo-upload-progress {
    display: none;
}
.file-upload-popup .buttons {
    margin-top: 30px;
}
.file-upload-popup div .file-drag.hover {
    opacity: 0.6;
}
.file-upload-popup div .file-drag:hover {
    opacity: 0.9;
}
.file-upload-popup div .file-drag i.fa.fa-spinner {
    font-size: 19px;
    margin-left: 5px;
}
.file-upload-popup input#file {
    display: none;
}