.songs-table-wrapper {
    background: white;
    padding: 8px;
}
.songs-table-wrapper .table tr th:last-child,
.songs-table-wrapper .table tr td:last-child {
    text-align: right;
}
.search-song {
    max-width: 160px;
}
a.play-song {
    border-radius: 100%;
    color: white;
    background: #5cb85c;
    cursor: pointer;
    font-size: 17px;
}
a.play-song:hover {
    color: #5cb85c;
    background: white;
}
a.add-song {
    margin-bottom: 25px;
}
a.delete-song {
    color: #962d2d;
}
a.edit-song {
    color: #333131;
}
a.favorite-song {
    color: inherit;
}
a.favorite {
    color: rgba(240, 240, 54, 0.88);
}
.delete-song:hover {
    color: #962d2d;
    opacity: 0.88;
}
.upload-song {
    cursor: pointer;
}
.upload-song:hover {
    opacity: 0.9;
}
.deep-red {
    color: #962d2d;
}