{% extends 'music/home/base.html' %}

{% load staticfiles %}

{% block head %}
<link href="{% static 'music/css/form.css' %}" rel="stylesheet" />
{% block head2 %}{% endblock %}
{% endblock %}

{% block content %}
<div class="register-wrapper">
    <div class="register-wrapper-head">
        <h1>Welcome to Trooze!</h1>
    {% block specific_content %}{% endblock %}
</div>
{% endblock %}
