{% extends 'music/home/registration/base.html' %}

{% block title %}Trooze- Login{% endblock %}

{% block specific_content %}
        <h4>
            Please login in order to get access to the site's content.
        </h4>
    </div>
    <div class="new-album">
        <form action="{% url 'music:login' %}" method="post">
            <div class="form-group">
                {% include 'music/partials/form_template.html' %}
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
    <div class="login-text">
        Not a user yet? <a href="{% url 'music:register' %}">Sign Up!</a>
    </div>
    <div class="login-text">
        An artist? <a href="{% url 'music:register_artist' %}">Artist Sign Up!</a>
    </div>
</div>
{% endblock %}