{% extends 'music/home/registration/base.html' %}

{% block title %}Trooze- Register{% endblock %}

{% block specific_content %}
        <h4>
            Store your <span class="glyphicon glyphicon-music"></span> on the
            <span class="glyphicon glyphicon-cloud"></span> & listen to it from anywhere.
        </h4>
    </div>
    <div class="new-album">
        <form action="{% url 'music:register' %}" method="post">
            <div class="form-group">
                {% include 'music/partials/form_template.html' %}
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
    </div>
    <div class="login-text">
        Already a user? <a href="{% url 'music:login' %}">Login!</a>
    </div>
    <div class="login-text">
        An artist? <a href="{% url 'music:register_artist' %}">Artist Sign Up!</a>
    </div>
</div>
{% endblock %}