{% extends 'music/home/registration/base.html' %}

{% load staticfiles %}

{% block title %}Trooze- Register Artist{% endblock %}

{% block head2 %}
<link rel="stylesheet" href="{% static 'music/css/snippets/better_select_box.css' %}" />
{% endblock %}

{% block specific_content %}
        <h4>
            Share your music & events. Let the world discover your soul.
        </h4>
    </div>
    <div class="new-album">
        <form action="{% url 'music:register_artist' %}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                {% include 'music/partials/form_template.html' %}
                <button type="submit" class="btn btn-primary">Join</button>
            </div>
        </form>
    </div>
    <div class="login-text">
        Already a user? <a href="{% url 'music:login' %}">Login!</a>
    </div>
    <div class="login-text">
        Regular user? <a href="{% url 'music:register' %}">Regular Sign Up!</a>
    </div>
</div>
{% include 'music/snippets/const/countries.html' %}
{% endblock %}

{% block script %}
<script src="{% static 'music/js/snippets/components/better_select_box.js' %}"></script>
<script>
$(function() {
    $('select#id_country').betterselect(COUNTRIES, {
        selectPlaceholder: '--- Choose Country ---',
        filterPlaceholder: 'Search Country'
    });

    $('select#id_area').betterselect(AREAS, {
        selectPlaceholder: '--- Choose Area ---',
        noFilter: true
    });
});
</script>
{% endblock %}