{% if albums or events %}
    <div class="col-md-3 col-sm-4">

        {% if albums %}
        <ul class="list-group">
            <li class="list-group-item">
                <span class="float-left">Albums List:</span>
                <span class="float-right">({{ albums|length }})</span>
                <div class="clear"></div>
            </li>
          {% for album in albums %}
            <li class="list-group-item">
                <!-- album details -->
                <a href="{% url 'music:album_details' album.id %}" class="float-left">
                    <strong>{{ album.name }}</strong>&nbsp;&nbsp;<small>({{ album.artist }})</small>
                </a>
                {% if request.user == album.user %}
                    <!-- delete confirm -->
                    <a href="{% url 'music:album_delete' album.id %}" class="float-right delete-album" data-name="{{ album.name }}" role="button">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                {% else %}
                    <a href="{% url 'music:copy_album' album.id %}" data-name="{{ album.name }}" class="btn btn-default btn-sm float-right copy-album" role="button">
                        <span class="glyphicon glyphicon-save"></span>
                    </a>
                {% endif %}
                <div class="clear"></div>
            </li>
          {% endfor %}
        </ul>
        {% endif %}

        <!-- if artist's events are supplied, include them -->
        {% include 'music/partials/albums/events_list.html' %}
    </div>
{% endif %}