{% load staticfiles %}
<div class="col-md-9 col-sm-8">
{% if albums %}
    <div class="row albums">
        {% for album in albums %}
          <div class="col-sm-9 col-md-5 album">
              {% include 'music/partials/single_album.html' %}
          </div>
        {% endfor %}
    </div>
{% else %}
    {% if query %}
        <div class="alert alert-danger" role="alert">
            <p class="large">The query "{{ query }}" returned no matching albums.</p><br>
            <a href="{% url 'music:albums' %}" class="alert-link">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Back to your albums list
            </a>
        </div>
    {% else %}
        <div>
            <h5 class="alert alert-danger">No albums.</h5>
        </div>
    {% endif %}
{% endif %}
</div>

