{% if events %}
<ul class="list-group">
    <li class="list-group-item">
        <span class="float-left">Events List:</span>
        <span class="float-right">({{ events|length }})</span>
        <div class="clear"></div>
    </li>
  {% for event in events %}
    <li class="list-group-item">
        <!-- album details -->
        <a href="{% url 'music:event_details' event.artist.id event.id %}" class="float-left">
            {% if event.place_image %}
                <img src="{{ event.place_image.url }}" alt="{{ event.title }}" title="{{ event.title }}" width="20" />
            {% endif %}
            <strong>{{ event.title }}</strong>
        </a>
        {% if request.user.artist and request.user.artist == event.artist %}
            <!-- delete confirm -->
            <a href="{% url 'music:delete_event' event.artist.id event.id %}"
               class="float-right delete-event" data-name="{{ event.title }}" role="button">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        {% else %}
            <a href="" data-name="{{ event.title }}" class="btn btn-default btn-sm float-right copy-album" role="button">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
        {% endif %}
        <div class="clear"></div>
    </li>
  {% endfor %}
</ul>
{% endif %}