.jumbotron {
    background-color: inherit;
}
.jumbotron h1 {
    font-family: 'Oleo Script Swash Caps', cursive;
}
.heart {
    color: #bc2a2a;
}
.Trooze {
    font-family: satisfy;
    font-weight:bold;
    margin-right: 5px;
    font-size: 20px;
}
.Trooze::before {
    content: '- '
}
.explain {
    margin-top: 50px;
}
.explain h4 {
    margin-bottom: 25px;
}
.explain h4:last-child {
    margin-top: 70px;
}
.explain h4:last-child p {
    display: inline-block;
}
.explain h4.sign-up-buttons {
    padding-left: 15px;
}
.navbar-footer {
    height: 150px;
    color: white;
    margin-bottom: 0;
    margin-top: 50px;
}
.navbar-footer .container-fluid {
    margin-top: 60px;
}
.navbar-footer .container-fluid div:nth-child(2) {
    margin-top: 10px;
}
a.contact-us {
    color: #bab4b4;
    font-weight: bold;
    opacity: 0.5;
}
a.contact-us:hover {
    opacity: 1;
}