.register-wrapper {
    border: 1px solid #c6c0c0;
    background: #f6f5f5;
    padding: 35px;
    padding-left: 45px;
    border-radius: 3px;
    margin-top: 20px;
}
.register-wrapper .register-wrapper-head {
    padding-left: 10px;
    margin-bottom: 30px;
}
.register-wrapper .register-wrapper-head h1 {
    text-shadow: 0 0 10px white;
    font-family: "Oleo Script Swash Caps", cursive;
}
.register-wrapper .register-wrapper-head h4 {
    letter-spacing: 1.5px;
    margin-top: 22px;
    font-family: "Oleo Script Swash Caps", cursive;
}
.register-wrapper .login-text {
    padding-left: 15px;
    margin-top: 15px;
}
.register-wrapper .login-text a {
    font-weight: 700;
}