 <div class="confirm-popup panel panel-default text-center" id="confirm-delete-popup">
    <div>
        <div class="panel-heading">
            <h3>Are you sure?</h3>
        </div>
        <div class="panel-body">
            <p>You're about to delete the <span id="album-or-song"></span> <strong id="name"></strong>.</p>
        </div>
        <form action="" method="post" class="confirm-form">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Delete</button>
            <button class="btn btn-default cancel-delete">Cancel</button>
        </form>
    </div>
</div>