 <div class="confirm-popup panel panel-default text-center" id="download-album-popup">
    <div>
        <div class="panel-heading">
            <h4>Would you like to download the whole album?</h4>
        </div>
        <div class="panel-body">
            <button class="btn btn-success yes-label">Yes</button>
            <button class="btn btn-danger no-label">No</button>
        </div>
    </div>
</div>