<div class="play-song-popup" id="play-song-popup">
    <div class="play-song-head">
        <span id="play-song-text" class="float-left"></span>
        <span class="glyphicon glyphicon-remove float-right play-song-close" id="play-song-close"></span>
        <div class="clear"></div>
    </div>
    <audio id="music-player" controls></audio>
</div>