 <div class="confirm-popup panel panel-default text-center" id="confirm-copy-popup">
    <div>
        <div class="panel-heading">
            <h4>You are about to save "<strong id="album-name"></strong>" to your albums list. ok?</h4>
        </div>
        <form action="" method="post" class="confirm-form">
            {% csrf_token %}
            <button class="btn btn-success" type="submit">Save</button>
            <button class="btn btn-link cancel-copy">Cancel</button>
        </form>
    </div>
</div>