{% extends 'music/base.html' %}

{% load staticfiles %}

{% block title %}Details- {{ album.name }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'music/css/songs.css' %}" />
<link rel="stylesheet" href="{% static 'music/css/snippets/song_player.css' %}" />
{% endblock %}

{% block script %}
<script src="{% static 'music/js/play_song.js' %}" async></script>
<script src="{% static 'music/js/search_song.js' %}" async></script>
    {% if request.user != album.user %}
        <script src="{% static 'music/js/like_unlike_album.js' %}" async></script>
        <script src="{% static 'music/js/copy_album.js' %}" async></script>
        {% if album.has_downloadable_songs %}
            <script src="{% static 'music/js/download_album.js' %}" async></script>
        {% endif %}
    {% else %}
        <script src="{% static 'music/js/favorite_song.js' %}" async></script>
        <script src="{% static 'music/js/delete_popup.js' %}" async></script>
        <script src="{% static 'music/js/snippets/components/photo_upload.js' %}"></script>
        <script>
            $('.change-photo').uploadPhoto("{% url 'music:album_photo_upload' album.id %}");
        </script>
        {% include 'music/snippets/upload_song_scripts.html' %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-5 col-sm-5">
        {% include 'music/partials/single_album.html' %}
    </div>
    <div class="col-md-7 col-sm-7">
        <div class="table-responsive songs-table-wrapper">
            {% if request.user == album.user %}
                <a href="{% url 'music:song_create' album.id %}" class="btn btn-success add-song" role="button">
                    <span class="glyphicon glyphicon-plus"></span> Add Song
                </a>
            {% endif %}
            {% if songs %}
                {% if request.user == album.user %}
                    <input type="text" id="search-song" class="form-control search-song float-right" placeholder="Search.." value="" />
                {% else %}
                    <input type="text" id="search-song" class="form-control search-song float-left" placeholder="Search.." value="" />
                    {% if album.has_downloadable_songs %}
                        <a href="{% url 'music:copy_album' album.id %}"
                           class="btn btn-success add-song float-right"
                           id="download-album" role="button"
                        >
                            Download <span class="glyphicon glyphicon-download" style="font-size:11px;"></span>
                        </a>
                    {% endif %}
                {% endif %}
                <div class="clear"></div>
                {% include 'music/songs.html' %}
            {% else %}
                <p class="alert alert-danger">No songs yet.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}