{% extends 'music/base.html' %}

{% load staticfiles %}

{% block title %}Trooze- Albums{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'music/css/albums.css' %}" />
{% endblock %}

{% block content %}
    <div class="add-album-button-container">
        {% if not albums or albums.0.user == request.user %}
            <a href="{% url 'music:album_create' %}" class="btn btn-success" role="button">
                <span class="glyphicon glyphicon-plus"></span> Add Album
            </a>
        {% endif %}
        <a href="{% url 'music:search_albums_form' %}" class="btn btn-danger" role="button">
            <span class="glyphicon glyphicon-search"></span> Search for Albums
        </a>
        <!-- pagination -->
        {% if albums and albums.0.user != request.user %}
            {% if albums.has_previous %}
                <a href="{% url 'music:search_albums' %}?genre={{ genre }}&artist={{ artist }}&album={{ name }}&page={{ albums.previous_page_number }}"
                   class="btn load-albums" role="button">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Prev
                </a>
            {% endif %}
            {% if albums.has_next %}
                <a href="{% url 'music:search_albums' %}?genre={{ genre }}&artist={{ artist }}&album={{ name }}&page={{ albums.next_page_number }}"
                   class="btn load-albums" role="button">
                    Next
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            {% endif %}
        {% endif %}
    </div>

    <div class="row">
        {% include 'music/partials/albums/albums_view.html' %}
        {% include 'music/partials/albums/albums_list.html' %}
    </div>
{% endblock %}

{% block script %}
    {% if albums %}
        {% if request.user != albums.0.user %}
            <script src="{% static 'music/js/like_unlike_album.js' %}"></script>
            <script src="{% static 'music/js/copy_album.js' %}"></script>
        {% else %}
            <script src="{% static 'music/js/delete_popup.js' %}"></script>
        {% endif %}
    {% endif %}
{% endblock %}
