{% extends 'music/base.html' %}

{% load staticfiles %}

{% block title %}Trooze- Album{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'music/css/form.css' %}" />
<link rel="stylesheet" href="{% static 'music/css/snippets/better_select_box.css' %}" />
{% endblock %}

{% block content %}
<h3 class="create-new-album">
    {% if action == 'create' %}
        Create An
    {% else %}
        Update "<strong>{{ album.name }}</strong>"
    {% endif %}
        Album:
</h3>
<div class="new-album">
    {% if action == 'create' %}
        <form action="{% url 'music:album_create' %}" method="post" enctype="multipart/form-data">
    {% else %}
        <form action="{% url 'music:album_update' album.id %}" method="post" enctype="multipart/form-data">
    {% endif %}
            {% include 'music/partials/form_template.html' %}
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    {% if action == 'create' %} Create {% else %} Update {% endif %}
                </button>
            </div>
        </form>
        {% if error_message %}
            <h5 class="alert-danger error-message">{{ error_message|safe }}</h5>
        {% endif %}
</div>
{% include 'music/snippets/const/genres.html' %}
{% endblock %}

{% block script %}
<script src="{% static 'music/js/snippets/components/better_select_box.js' %}"></script>
<script>
$(function() {
    $('select#id_genre').betterselect(GENRES, {
        selectPlaceholder: '--- Choose Genre ---',
        filterPlaceholder: 'Search Genre'
    });
});
</script>
{% endblock %}