{% extends 'music/base.html' %}

{% load staticfiles %}

{% block title %}Trooze- Songs{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'music/css/all_songs.css' %}" />
<link rel="stylesheet" href="{% static 'music/css/songs.css' %}" />
<link rel="stylesheet" href="{% static 'music/css/snippets/song_player.css' %}" />
{% endblock %}

{% block content %}
<div class="all-songs">
    {% if are_songs %}
        <header class="all-songs-header">
            <input type="text" id="albums-search-song" class="form-control search-song float-left" placeholder="Search Song..." value="" />
            <button id="get-favorites" class="btn btn-success btn-sm float-right">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <span class="get-favorites-text">Favorites</span>
            </button>
            <div class="clear"></div>
        </header>
        {% for album, songs in songs_by_album %}
            {% if songs|length %}
                <div class="all-songs-full-table">
                    <div class="all-songs-head">
                        <h1 class="album-head">
                            <a href="{% url 'music:album_details' album.id %}">{{ album.name }}</a>
                        </h1>
                        <small>({{ album.artist }})</small>
                        {% include 'music/partials/album_image.html' %}
                        <div class="clear"></div>
                    </div>
                    <div class="songs-table-wrapper container-fluid">
                        {% include 'music/songs.html' %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="alert alert-danger">No songs found.</div>
    {% endif %}
</div>
<script src="{% static 'music/js/all_songs_search.js' %}"></script>
{% endblock %}

{% block script %}
<script src="{% static 'music/js/favorite_song.js' %}" async></script>
<script src="{% static 'music/js/play_song.js' %}" async></script>
<script src="{% static 'music/js/delete_popup.js' %}" async></script>
{% if are_songs %}
    {% include 'music/snippets/upload_song_scripts.html' %}
{% endif %}
{% endblock %}