{% extends 'music/base.html' %}

{% load staticfiles %}

{% block head %}
    <link href="{% static 'music/css/artist.css' %}" rel="stylesheet" />
    <link href="{% static 'music/css/albums.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9 col-sm-8">
        <div class="row">
          <div class="col-lg-7 col-md-8 col-sm-11">
            <div class="thumbnail">
              <div class="image-wrapper">
                  {% if artist.picture %}
                    <img src="{{ artist.picture.url }}" alt="{{ artist.full_name }}" title="{{ artist.full_name }}">
                  {% else %}
                    <img src="{% static 'music/img/no_image.png' %}" alt="{{ artist.full_name }}" title="{{ artist.full_name }}" />
                  {% endif %}
                  {% if request.user.artist and request.user.artist == artist %}
                      {% include 'music/partials/upload_new_photo.html' %}
                  {% endif %}
              </div>
              <div class="caption">
                {% if artist.stage_name %}
                    <h3>{{ artist.stage_name }}</h3>
                {% endif %}
                <div class="artist-info">
                    <p>
                        {% if artist.gender == 'male' %}
                            <i class="fa fa-male" style="font-size: 18px;"></i>
                        {% elif artist.gender == 'female' %}
                            <i class="fa fa-female" style="font-size: 18px;"></i>
                        {% else %}
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        {% endif %}
                        {{ artist.full_name }}
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-map-marker"></span>
                        {{ artist.location }}
                    </p>
                    {% if artist.followers.count > 0 %}
                        <p>
                            <i class="fa fa-users"></i>
                            {% with followers=artist.followers.count %}
                                <span class="label label-default label-custom followers-label">{{ followers }} follower{{ followers|pluralize }}</span>
                            {% endwith %}
                        </p>
                    {% endif %}
                    {% if artist.likers.count > 0 %}
                        <p>
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            {% with likes=artist.likers.count %}
                                <span class="label label-default label-custom likes-label">{{ likes }} like{{ likes|pluralize }}</span>
                            {% endwith %}
                        </p>
                    {% endif %}
                </div>
                {% if artist.facebook or artist.instagram or artist.twitter %}
                  <div>
                  {% if artist.facebook %}
                      <a href="{{ artist.facebook }}" target="_blank">
                          <img src="{% static 'music/img/facebook.png' %}" class="social-media" />
                      </a>
                  {% endif %}
                  {% if artist.instagram %}
                      <a href="{{ artist.instagram }}" target="_blank">
                          <img src="{% static 'music/img/instagram.png' %}" class="social-media" />
                      </a>
                  {% endif %}
                  {% if artist.twitter %}
                      <a href="{{ artist.twitter }}" target="_blank">
                          <img src="{% static 'music/img/twitter.png' %}" class="social-media" />
                      </a>
                  {% endif %}
                  </div>
                {% endif %}
                {% if artist.about %}
                  <div class="artist-about">
                    <p>
                        <span class="glyphicon glyphicon-pencil"></span> <strong>About</strong>
                    </p>
                    <p class="bio">
                        {{ artist.about }}
                    </p>
                  </div>
                {% endif %}
                  <div class="add">
                  {% if request.user.artist and request.user.artist == artist %}
                        <a href="{% url 'music:album_create' %}" class="btn btn-primary btn-sm" role="button">
                            <span class="glyphicon glyphicon-plus"></span> Album
                        </a>
                        <a href="{% url 'music:create_event' artist.id %}" class="btn btn-default btn-sm" role="button">
                            <span class="glyphicon glyphicon-plus"></span> Event
                        </a>
                        <a href="{% url 'music:artist_update' artist.id %}" class="btn btn-default btn-sm float-right" role="button">
                            <span class="glyphicon glyphicon-edit"></span> Edit
                        </a>
                        <div class="clear"></div>
                {% else %}
                      {% if request.user in artist.followers.all %}
                        <a href="{% url 'music:unfollow_artist' artist.id %}" class="btn btn-primary btn-sm follow-unfollow-artist" role="button">
                            <i class="fa fa-user-times" aria-hidden="true"></i> <span class="follow-unfollow">Unfollow</span>
                        </a>
                      {% else %}
                        <a href="{% url 'music:follow_artist' artist.id %}" class="btn btn-primary btn-sm follow-unfollow-artist" role="button">
                            <i class="fa fa-user-plus" aria-hidden="true"></i> <span class="follow-unfollow">Follow</span>
                        </a>
                      {% endif %}
                      {% if request.user in artist.likers.all %}
                        <a href="{% url 'music:unlike_artist' artist.id %}" class="btn btn-warning btn-sm like-unlike-artist" role="button">
                            <span class="glyphicon glyphicon-thumbs-down"></span> Unlike
                        </a>
                        </a>
                      {% else %}
                        <a href="{% url 'music:like_artist' artist.id %}" class="btn btn-warning btn-sm like-unlike-artist" role="button">
                            <span class="glyphicon glyphicon-thumbs-up"></span> Like
                        </a>
                        </a>
                      {% endif %}
                {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% include 'music/partials/albums/albums_list.html' %}
</div>
{% endblock %}

{% block script %}
    {% if request.user.artist and request.user.artist == artist %}
        <script src="{% static 'music/js/delete_popup.js' %}" async></script>
        <script src="{% static 'music/js/delete_event.js' %}" async></script>
        <script src="{% static 'music/js/snippets/components/photo_upload.js' %}"></script>
        <script>
            $('.change-photo').uploadPhoto('{% url 'music:artist_photo_upload' artist.id %}');
        </script>
    {% else %}
        <script src="{% static 'music/js/copy_album.js' %}" async></script>
        <script src="{% static 'music/js/like_unlike_artist.js' %}" async></script>
        <script src="{% static 'music/js/follow_unfollow_artist.js' %}" async></script>
    {% endif %}
{% endblock %}