{% extends 'music/base.html' %}

{% load staticfiles %}

{% block title %}Trooze- Artist{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'music/css/form.css' %}" />
<link rel="stylesheet" href="{% static 'music/css/snippets/better_select_box.css' %}" />
{% endblock %}

{% block content %}
<h3 class="create-new-album">
    Update your details:
</h3>
<div class="new-album">
        <form action="{% url 'music:artist_update' artist.id %}" method="post" enctype="multipart/form-data">
            {% include 'music/partials/form_template.html' %}
            <div class="form-group">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </form>
        {% if error_message %}
            <h5 class="alert-danger error-message">{{ error_message|safe }}</h5>
        {% endif %}
</div>
{% include 'music/snippets/const/countries.html' %}
{% endblock %}

{% block script %}
<script src="{% static 'music/js/snippets/components/better_select_box.js' %}"></script>
<script>
$(function() {
    $('select#id_country').betterselect(COUNTRIES, {
        selectPlaceholder: '--- Choose Country ---',
        filterPlaceholder: 'Search Country'
    });

    $('select#id_area').betterselect(AREAS, {
        selectPlaceholder: '--- Choose Area ---',
        noFilter: true
    });
});
</script>
{% endblock %}