{% load staticfiles %}
<html>
<head>
    <title>{% block title %}Trooze- Home for music lovers & artists{% endblock %}</title>
	{% include 'music/partials/head_snippet.html' %}
    <link rel="stylesheet" href="{% static 'music/css/popup.css' %}" />
    {% block head %}{% endblock %}
</head>

<body>
{% include 'music/partials/navbar.html' %}

<div class="container-fluid">
    {% block content %}{% endblock %}
</div>

<script src="{% static 'music/js/highlight_active.js' %}"></script>
<div id="overlay" class="overlay"></div>
{% include 'music/popups/play_song_popup.html' %}
{% include 'music/popups/delete_popup.html' %}
{% include 'music/popups/save_album_popup.html' %}
{% include 'music/popups/download_album_popup.html' %}
</body>

{% block script %}{% endblock %}
<script>
    // initialize tooltips
    $('[data-toggle="tooltip"]').tooltip();
</script>
</html>