{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'music:index' %}">Trooze</a>
        </div>
    </div>
</nav>

<img src="{{album.album_logo}}" height="50" width="50">
<br>
<h1>{{album.album_title}}</h1>
<h2>{{album.artist}}</h2>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'music:favourite' album.id %}" method="post">
    {% csrf_token %}
    {% for song in album.song_set.all %}
        <input type="radio" id="song{{forloop.counter}}" name="song" value="{{song.id}}">
        <label for="song{{forloop.counter}}">
            {{song.song_title}}
            {% if song.is_favourite %}
                <img src="http://findicons.com/files/icons/1620/crystal_project/22/knewstuff.png">
            {% endif %}
        </label><br><br>
    {% endfor %}
<input type="submit" value="Favourite">
</form>
