{% extends 'music/base.html' %}

{% load staticfiles %}

{% block head %}
    <link href="{% static 'music/css/artist.css' %}" rel="stylesheet" />
    <link href="{% static 'music/css/albums.css' %}" rel="stylesheet" />
<style>
#map {
    margin-bottom: 15px;
}
#map .gm-style-cc {
    display: none;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="panel">
      <div class="panel-heading event-heading">
        <h3 class="panel-title add">
            <i class="fa fa-code" aria-hidden="true"></i> {{ event.title }}
        </h3>
      </div>
      <div class="panel-body">
          <p>
              <span class="glyphicon glyphicon-pencil"></span> <strong>Event Description</strong>
          </p>
          <div class="add">{{ event.description }}</div>
          <div id="map"></div>
      </div>
      <div class="panel-footer event-footer">
            <span class="event-artist-name">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                {{ event.artist.full_name }}
            </span>
            <span class="event-location">
                <i class="fa fa-globe"></i>
                {{ event.get_location }}
            </span>
            <span class="event-address">
                <i class="fa fa-map-marker"></i>
                {{ event.get_address }}
            </span>
            <span class="event-price float-right">
                {% if event.is_free %}
                    <i class="fa fa-angle-double-right" style="font-weight:800;" aria-hidden="true"></i>
                    <strong>Free</strong> entrance
                {% else %}
                    <i class="fa fa-credit-card-alt"></i>
                    {{ event.price }} {{ event.get_currency }}
                {% endif %}
            </span>
            <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-lg-offset-3 col-md-offset-1 col-md-5 col-sm-6">
    <div class="thumbnail">
      <div class="image-wrapper">
          {% if event.place_image %}
            <img src="{{ event.place_image.url }}" alt="{{ event.title }}" title="{{ event.title }}">
          {% else %}
            <img src="{% static 'music/img/no_image.png' %}" alt="{{ event.title }}" title="{{ event.title }}" />
          {% endif %}
          {% if request.user.artist and request.user.artist == event.artist %}
            {% include 'music/partials/upload_new_photo.html' %}
          {% endif %}
      </div>
      <div class="caption">
        <div class="event-information">
            <p class="event-artist-name">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <strong>Created by:</strong> {{ event.artist.full_name }}
            </p>
            <p class="event-location">
                <i class="fa fa-globe"></i>
                <strong>Location:</strong> {{ event.get_location }}
            </p>
            <p class="event-address">
                <i class="fa fa-map-marker"></i>
                <strong>Address:</strong> {{ event.get_address }}
            </p>
            <p class="event-price">
                {% if event.is_free %}
                    <i class="fa fa-angle-double-right" style="font-weight:800;" aria-hidden="true"></i>
                    <strong>Free</strong> entrance
                {% else %}
                    <i class="fa fa-money" aria-hidden="true"></i>
                    <strong>Price:</strong> {{ event.price }} {{ event.get_currency }}
                {% endif %}
            </p>
        </div>
        <div class="event-labels">
            <p>
                <i class="fa fa-calendar-check-o"></i>
                <span class="label label-custom joined-label">
                    {{ event.num_people }} participant{{ event.num_people|pluralize }}
                </span>
            </p>
            <p>
                <i class="fa fa-users"></i>
                <span class="label label-custom subscribed-label">
                    {{ event.num_subscribers }} subscriber{{ event.num_subscribers|pluralize }}
                </span>
            </p>
            <p>
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <span class="label label-custom liked-label">
                    {{ event.likes }} like{{ event.likes|pluralize }}
                </span>
            </p>
        </div>
          <!-- TODO put in another section -->
        <div class="actions">
          {% if request.user.artist and request.user.artist == event.artist %}
              <div class="float-right">
                <a href="{% url 'music:update_event' event.artist.id event.id %}" class="btn btn-default btn-sm" role="button">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="{% url 'music:delete_event' event.artist.id event.id %}"
                   class="delete-event btn btn-default btn-sm" data-name="{{ event.title }}" role="button">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
              </div>
              <div class="clear"></div>
        {% else %}
              <div class="float-left">
                  {% if request.user not in event.subscribers.all %}
                    {% if event.has_room_left %}
                        <a href="{% url 'music:subscribe_event' event.artist.id event.id %}"
                           class="btn btn-primary btn-sm sub-unsub-event" role="button">
                            <i class="fa fa-rss" aria-hidden="true"></i> Subscribe
                        </a>
                    {% endif %}
                  {% else %}
                    <a href="{% url 'music:unsubscribe_event' event.artist.id event.id %}"
                       class="btn btn-primary btn-sm sub-unsub-event" role="button">
                        <i class="fa fa-reply" aria-hidden="true"></i> Unsubscribe
                    </a>
                  {% endif %}
                  {% if request.user not in event.participants.all %}
                    {% if event.has_room_left %}
                        <a href="{% url 'music:join_event' event.artist.id event.id %}"
                           class="btn btn-success btn-sm join-quit-event" role="button">
                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Join
                        </a>
                    {% endif %}
                  {% else %}
                        <a href="{% url 'music:quit_event' event.artist.id event.id %}"
                           class="btn btn-danger btn-sm join-quit-event" role="button">
                            <i class="fa fa-calendar-times-o" aria-hidden="true"></i> Quit
                        </a>
                  {% endif %}
              </div>
                {% if request.user not in event.likers.all %}
                  <a href="{% url 'music:like_event' event.artist.id event.id %}"
                     class="btn btn-warning btn-sm like-unlike-event float-right">
                    <span class="glyphicon glyphicon-thumbs-up"></span> Like
                  </a>
                {% else %}
                  <a href="{% url 'music:unlike_event' event.artist.id event.id %}"
                     class="btn btn-warning btn-sm like-unlike-event float-right">
                    <span class="glyphicon glyphicon-thumbs-down"></span> Unlike
                  </a>
                {% endif %}
              <div class="clear"></div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{% if event %}
    {% if request.user.artist and request.user.artist == event.artist %}
        <script src="{% static 'music/js/delete_popup.js' %}" async></script>
        <script src="{% static 'music/js/delete_event.js' %}" async></script>
        <script src="{% static 'music/js/snippets/components/photo_upload.js' %}"></script>
        <script>
            $('.change-photo').uploadPhoto('{% url 'music:event_photo_upload' event.artist.id event.id %}');
        </script>
    {% else %}
        <script src="{% static 'music/js/like_unlike_event.js' %}" async></script>
        <script src="{% static 'music/js/sub_unsub_event.js' %}" async></script>
        <script src="{% static 'music/js/join_quit_event.js' %}" async></script>
    {% endif %}
<script>
    // set location on window object to user on api call
    window.absoluteAddress = '{{ event.location }}';
</script>
<script src="{% static 'secret/google_places.js' %}"></script>
<script src="{% static 'music/js/snippets/api/google_geocode_service.js' %}"></script>
<!-- load google geocode script async -->
<script>
(function() {
    var script = document.createElement('script');
    script.src = GOOGLE_GEOCODE_URL;
    script.type = "text/javascript";
    script.async = true;
    script.defer = true;
    document.body.insertBefore(script, document.body.children[0]);
})();
</script>
{% endif %}
{% endblock %}