{% extends 'music/base.html' %}

{% load staticfiles %}

{% block title %}Trooze- Event{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'music/css/form.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<link rel="stylesheet" href="{% static 'music/css/snippets/jquery-ui.css' %}" />
<link rel="stylesheet" href="{% static 'music/css/snippets/better_select_box.css' %}" />
{% endblock %}

{% block content %}
<h3 class="create-new-album">
    {% if action == 'create' %}
        Create A New Event:
    {% else %}
        Edit event details:
    {% endif %}
</h3>
<div class="new-album">
    {% if action == 'create' %}
        <form action="{% url 'music:create_event' artist_id %}" method="post" enctype="multipart/form-data">
    {% else %}
        <form action="{% url 'music:update_event' artist_id event_id %}" method="post" enctype="multipart/form-data">
    {% endif %}
            {% include 'music/partials/form_template.html' %}
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    {% if action == 'create' %}Create{% else %}Update{% endif %}
                </button>
            </div>
        </form>
        {% if error_message %}
            <h5 class="alert-danger error-message">{{ error_message|safe }}</h5>
        {% endif %}
</div>

{% include 'music/snippets/timepicker.html' %}
{% include 'music/snippets/const/currencies.html' %}
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="{% static 'music/js/snippets/components/time_picker.js' %}"></script>
<script src="{% static 'music/js/snippets/components/better_select_box.js' %}"></script>
<script src="{% static 'secret/google_places.js' %}"></script>
<script src="{% static 'music/js/snippets/api/google_places_search.js' %}"></script>
<!-- load google places script async -->
<script>
(function() {
    var script = document.createElement('script');
    script.src = GOOGLE_PLACES_URL;
    script.type = "text/javascript";
    script.async = true;
    script.defer = true;
    document.body.insertBefore(script, document.body.children[0]);
})();
</script>
<script>
$(function() {
    $('select#id_currency').betterselect(CURRENCIES, {
        selectPlaceholder: '--- Choose Currency ---',
        filterPlaceholder: 'Search currency by country'
    });

    // start date picker
    $( "#id_start_date" ).datepicker({
      inline: true,
      showOtherMonths: true,
      dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
    });

    // end date picker
    $( "#id_end_date" ).datepicker({
      inline: true,
      showOtherMonths: true,
      dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
    });

    // start time picker
    $('#id_start_time').timepicker({
        headerText: 'Start'
    });

    // end time picker
    $('#id_end_time').timepicker({
        headerText: 'End'
    });
});
</script>
{% endblock %}






