{% extends 'music/base.html' %}

{% load staticfiles %}

{% block title %}Trooze- Search Albums{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'music/css/form.css' %}" />
<link rel="stylesheet" href="{% static 'music/css/snippets/better_select_box.css' %}" />
{% endblock %}

{% block content %}
<div class="new-album">
    <h3 class="create-new-album">Search What Albums Other Users Uploaded</h3>
    <form action="{% url 'music:search_albums' %}" method="get">
        <div class="form-group">
            <a href="#by-genre" data-toggle="collapse">Search by Genre</a>
        </div>
        <div class="form-group collapse" id="by-genre">
            <select name="genre" id="genre-select" class="form-control"></select>
        </div>
        <div class="form-group">
            <a href="#by-artist" data-toggle="collapse">Search by Artist</a>
        </div>
        <div class="form-group collapse" id="by-artist">
            <input type="text" name="artist" placeholder="Artist" class="form-control" />
        </div>
        <div class="form-group">
            <a href="#by-album" data-toggle="collapse">Search by Album</a>
        </div>
        <div class="form-group collapse" id="by-album">
            <input type="text" name="album" placeholder="Album" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
{% include 'music/snippets/const/genres.html' %}
{% endblock %}

{% block script %}
<script src="{% static 'music/js/snippets/components/better_select_box.js' %}"></script>
<script>
$(function() {
    $('select#genre-select').betterselect(GENRES, {
        selectPlaceholder: 'Genre',
        filterPlaceholder: 'Search Genre'
    });
});
</script>
{% endblock %}