{% extends 'music/base.html' %}

{% load staticfiles %}

{% block title %}Trooze- Search Albums{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'music/css/form.css' %}" />
<link rel="stylesheet" href="{% static 'music/css/snippets/better_select_box.css' %}" />
{% endblock %}

{% block content %}
<div class="new-album">
    <h3 class="create-new-album">Search For Artists</h3>
    <small>Explore new music & check out nearby musical events</small>
    <form action="{% url 'music:search_artists' %}" method="get">
        <div class="form-group">
            <a href="#by-location" data-toggle="collapse">Search by Artist Location</a>
        </div>
        <div class="form-group collapse" id="by-location">
            <select id="location" name="location" class="form-control"></select>
        </div>
        <div class="form-group">
            <a href="#by-genre" data-toggle="collapse">Search by Genre</a>
        </div>
        <div class="form-group collapse" id="by-genre">
            <select id="genre" name="genre" class="form-control"></select>
        </div>
        <div class="form-group">
            <a href="#by-artist" data-toggle="collapse">Search by Artist Name</a>
        </div>
        <div class="form-group collapse" id="by-artist">
            <input type="text" name="artist" placeholder="Artist" class="form-control" />
        </div>
        <div class="form-group">
            <a href="#by-album" data-toggle="collapse">Search by Album Name</a>
        </div>
        <div class="form-group collapse" id="by-album">
            <input type="text" name="album" placeholder="Album" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
{% include 'music/snippets/const/countries.html' %}
{% include 'music/snippets/const/genres.html' %}
{% endblock %}

{% block script %}
<script src="{% static 'music/js/snippets/components/better_select_box.js' %}"></script>
<script>
$(function() {
    $('select#location').betterselect(COUNTRIES, {
        selectPlaceholder: '--- Choose Country ---',
        filterPlaceholder: 'Search Country'
    });

    $('select#genre').betterselect(GENRES, {
        selectPlaceholder: '--- Choose Genre ---',
       filterPlaceholder: 'Search Genre'
    });
});
</script>
{% endblock %}