<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Song</th>
            <th>Play</th>
            {% if request.user == album.user %}
                <th>Favorite</th>
                <th>Action</th>
            {% else %}
                <th>Download</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for song in songs %}
        <tr class="table-song">
            <td>{{ forloop.counter }}.</td>
            <td>{{ song.name }}</td>
            <td>
                {% if request.user == album.user or song.is_playable %}
                    <a href="{{ song.audio_file.url }}"
                       data-name="{{ song.name }}"
                       data-artist="{{ song.album.artist }}"
                       class="glyphicon glyphicon-play-circle play-song">
                    </a>
                {% else %}
                    <span class="glyphicon glyphicon-pause"
                          data-toggle="tooltip"
                          title="Not Playable"
                    ></span>
                {% endif %}
            </td>
            {% if request.user == album.user %}
                <td>
                    <a href="{% url 'music:favorite_song' album.id song.id %}"
                       class="glyphicon glyphicon-star{{ song.is_favorite|yesno:' favorite,-empty' }} favorite-song"
                    ></a>
                </td>
                <td>
                    <span class="glyphicon glyphicon-cloud-upload upload-song"
                          data-album-id="{{ album.id }}"
                          data-song-id="{{ song.id }}"
                          data-toggle="tooltip"
                          title="Replace song"
                    ></span>
                    <a href="{% url 'music:song_update' album.id song.id %}"
                       class="glyphicon glyphicon-edit edit-song"
                       data-toggle="tooltip"
                       title="Edit song"
                    ></a>
                    <a href="{% url 'music:song_delete' album.id song.id %}"
                       data-name="{{ song.name }}"
                       class="glyphicon glyphicon-remove delete-song"
                    ></a>
                </td>
            {% else %}
                <td>
                    {% if song.is_downloadable and song.is_playable %}
                        <a href="{{ song.audio_file.url }}"
                           download="{{ album.artist }}_{{ album.name }}- {{ song.name }}"
                           class="glyphicon glyphicon-cloud-download download-song"
                           data-toggle="tooltip"
                           title='Download "{{ song.name }}"'
                        ></a>
                    {% else %}
                        <span class="glyphicon glyphicon-ban-circle deep-red"
                              data-toggle="tooltip"
                              title="Not Downloadable"
                        ></span>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>