{% extends 'music/base.html' %}

{% load staticfiles %}

{% block title %}Trooze- Song{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'music/css/form.css' %}" />
{% endblock %}

{% block content %}
<h3 class="create-new-album">
    {% if action == 'create' %}
        Add A
    {% else %}
        Update "<strong>{{ song.name }}</strong>"
    {% endif %}
        Song
        {% if action == 'create' %} To {% else %} In {% endif %}
        "<strong>{{ album.name }}</strong>":

</h3>
<div class="new-album">
    {% if action == 'create' %}
        <form action="{% url 'music:song_create' album.id %}" method="post" enctype="multipart/form-data">
    {% else %}
        <form action="{% url 'music:song_update' album.id song.id %}" method="post" enctype="multipart/form-data">
    {% endif %}
            {% include 'music/partials/form_template.html' %}
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    {% if action == 'create' %} Create {% else %} Update {% endif %}
                </button>
            </div>
        </form>
        {% if error_message %}
            <h5 class="alert-danger error-message">{{ error_message|safe }}</h5>
        {% endif %}
</div>
{% endblock %}

{% block script %}
{% if request.user.artist %}
    <script src="{% static 'music/js/snippets/components/checkbox.js' %}"></script>
    <script src="{% static 'music/js/song_form.js' %}"></script>
{% endif %}
<script>
$(document).ready(function() {
    // if not name, set name from file chosen
    var $$audioInput = document.getElementById('id_audio_file');
    if($$audioInput) {
        var $name = $('#id_name');
        $$audioInput.addEventListener('change', function(e) {
            if(!$name.val()) {
                var file_name = e.target.files.item(0).name;
                if(file_name.lastIndexOf('.') !== -1) {
                    $name.val(file_name.slice(0, file_name.lastIndexOf('.')));
                }
            }
        });
    }
});
</script>
{% endblock %}