{% extends 'music/base.html' %}

{% block content %}
<h4 class="alert alert-danger">
    {{ message }}
</h4>
{% if back %}
<a href="#" onclick="window.history.go(-1)" class="alert">
    <span class="glyphicon glyphicon-arrow-left"></span> Back
</a>
{% endif %}
{% endblock %}