<div class="timepicker timepicker-template ui-datepicker text-center">
    <div class="ui-datepicker-header">
        Set <span id="header-text"></span> Time
        <span class="glyphicon glyphicon-time" style="font-size:12px;"></span>
    </div>
    <div class="timepicker-container">
        <div class="input-container">
            <span class="glyphicon glyphicon-arrow-up hour-up arrow"></span>
            <input type="number" min="0" max="23" class="hour-field" />
            <span class="glyphicon glyphicon-arrow-down hour-down arrow"></span>
        </div>
        <span class="dots">:</span>
        <div class="input-container">
            <span class="glyphicon glyphicon-arrow-up minute-up arrow"></span>
            <input type="number" min="0" max="59" class="minute-field" />
            <span class="glyphicon glyphicon-arrow-down minute-down arrow"></span>
        </div>
    </div>
</div>