{% load staticfiles %}

<script src="{% static 'music/js/snippets/components/audio_upload.js' %}"></script>
<script src="{% static 'music/js/snippets/components/song_player.js' %}"></script>
<script>
$('.upload-song').each(function() {
    var $span = $(this);

    // construct url
    var albumId = $span.data('album-id');
    var songId = $span.data('song-id');
    var url = '/album/' + albumId + '/song/' + songId + '/upload-song/';

    // attach click event
    $span.uploadAudio(url);
});
</script>