select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fcfcfc;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    cursor: pointer;
    margin-bottom: 1px;
}
select option {
    display: none;
}
.select-div {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow: auto;
}
.select-div .select-option-div {
    cursor: pointer;
    padding: 5px 8px;
}
.select-div .select-option-div:hover {
    background: #e9e9e9;
}
.select-div .filter-select-options {
    background: white;
    border-radius: 0;
    height: 30px;
    margin-bottom: 0;
}
.select-options-wrapper .select-div::-webkit-scrollbar {
    width: 0.65em;
}
.select-options-wrapper .select-div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.select-options-wrapper .select-div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}