.song-player-wrapper {
    width: 130px;
    margin: auto;
}
.song-player-wrapper .song-player {
    background: #222;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    padding: 0 20px;
}
.song-player-wrapper .song-player .play-circle {
    border-radius: 100%;
    color: white;
    background: #5cb85c;
    cursor: pointer;
    display: inline;
    padding: 0 3px;
    font-size: 25px;
}
.song-player-wrapper .song-player .play-circle.glyphicon-pause {
    padding: 0 2px 0 3.5px;
}
.song-player-wrapper .song-player span {
    line-height: 50px;
    font-weight: bold;
}
.song-player-wrapper .song-player .play-minus,
.song-player-wrapper .song-player .play-plus {
    color: #454545;
}
.song-player-wrapper .song-progress-bar {
    height: 8px;
    width: 90%;
    margin: auto;
    background: #5cb85c;
    border-radius: 4px;
    margin-top: 6px;
    box-shadow: 0 0 0 1px #c6c6c6;
}
.song-player-wrapper .song-progress-bar .song-progress-bar-warm {
    background: #222;
    height: 8px;
    border-radius: 4px;
    width: 0;
}