{% load staticfiles %}

<a href="{% url 'music:album_details' album.id %}" class="album-image">
    {% if album.logo_file %}
        <img src="{{ album.logo_file.url }}" alt="{{ album.name }}" title="{{ album.name }}" class="img-fluid" />
    {% elif album.logo %}
        <img src="{{ album.logo }}" alt="{{ album.name }}" title="{{ album.name }}" class="img-fluid" />
    {% else %}
        <img src="{% static 'music/img/no_image.png' %}" alt="{{ album.name }}" title="{{ album.name }}" class="img-fluid" />
    {% endif %}
</a>