<div class="form-group">
    {% for field in form %}
        {% if field.is_hidden %}
            {{ field }}
        {% else %}
            <div class="form-group">
                {{ field.label_tag }}
                {% if field.field.required %}<span class="required-asterik">*</span>{% endif %}
                {{ field }}
            </div>
        {% endif %}
        {% if field.errors %}
            <p class="text-danger">{{ field.errors }}</p>
        {% endif %}
    {% endfor %}

    {% if form2 %}
        {% for field in form2 %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% if field.field.required %}<span class="required-asterik">*</span>{% endif %}
                    {{ field }}
                </div>
            {% endif %}
            {% if field.errors %}
                <p class="text-danger">{{ field.errors }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% csrf_token %}