<nav class="navbar navbar-inverse">

    <div class="container-fluid">

        <!-- navbar-header -->
        <div class="navbar-header">
            <a href="/" class="navbar-brand satisfy" href="{% url 'music:albums' %}">Trooze &nbsp;</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-icons" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- navbar-collapse -->
        <div class="collapse navbar-collapse" id="navbar-icons">
          <!-- navbar-icons -->
          <ul class="nav navbar-nav">
              {% if request.user.artist %}
                <li id="artist">
                    <a href="{% url 'music:artist_details' request.user.artist.id %}">
                        <span class="glyphicon glyphicon-user"></span> {{ request.user.artist.full_name }}
                    </a>
                </li>
              {% endif %}
              <li id="albums">
                  <a href="{% url 'music:albums' %}">
                      <span class="glyphicon glyphicon-cd"></span> Albums
                  </a>
              </li>
              <li id="songs">
                  <a href="{% url 'music:all_songs' %}">
                      <span class="glyphicon glyphicon-music"></span> Songs
                  </a>
              </li>
              {% if request.user.artist %}
                <li id="events">
                    <a href="{% url 'music:artist_details' request.user.artist.id %}">
                        <span class="glyphicon glyphicon-calendar"></span> Events
                    </a>
                </li>
              {% endif %}
          </ul>
          <!-- navbar-form -->
          {% if albums and albums.0.user == request.user and not artist %}
              <form action="{% url 'music:album_search' %}" method="get" class="navbar-form navbar-left">
                <div class="form-group search-album">
                  <input type="text" name="q" class="form-control input-sm" placeholder="Search Your Albums..." />
                </div>
                <div class="form-group search-album">
                    <button type="submit" class="btn btn-default btn-sm">Let's go!</button>
                </div>
              </form>
          {% endif %}
          <!-- navbar-right -->
          <ul class="nav navbar-nav navbar-right">
            <li style="top: 4px;">
                <a href="">
                    <span class="glyphicon glyphicon-bell"></span>
                </a>
            </li>
            <li>
                <a href="{% url 'music:album_create' %}">
                    <span class="glyphicon glyphicon-plus"></span> Album
                </a>
            </li>
            {% if request.user.artist %}
            <li>
                <a href="{% url 'music:create_event' request.user.artist.id %}">
                    <span class="glyphicon glyphicon-plus"></span> Event
                </a>
            </li>
            {% endif %}
            <li>
            {% if not_logged_in %}
                <a href="{% url 'music:login' %}">
                    <span class="glyphicon glyphicon-log-in"></span> Login
                </a>
            {% else %}
                <a href="{% url 'music:logout' %}">
                    <span class="glyphicon glyphicon-off"></span> Logout
                </a>
            {% endif %}
            </li>
          </ul>
        </div>
        <!-- /navbar-collapse -->
    </div>
</nav>