<div class="thumbnail">
    {% if not albums %}
        {% include 'music/partials/album_image_upload.html' %}
    {% else %}
        {% include 'music/partials/album_image.html' %}
    {% endif %}
  <div class="caption">
    <h3>{{ album.name }}</h3>
    <p>{{ album.artist }} ({{ album.genre }})</p>
    {% with likes=album.likers.count %}
        <div class="like-badge-wrapper">
            <p class="label label-warning like-badge">{{ likes }} like{{ likes|pluralize }}</p>
        </div>
    {% endwith %}
    <p>
        <a href="{% url 'music:album_details' album.id %}" class="btn btn-primary btn-sm" role="button">View</a>
        {% if request.user != album.user %}
            {% if request.user in album.likers.all %}
                <a href="{% url 'music:unlike_album' album.id %}" class="btn btn-default btn-sm album-like-unlike" role="button">
                    <span class="glyphicon glyphicon-thumbs-down"></span> <span class="like-unlike">Unlike</span>
                </a>
            {% else %}
                <a href="{% url 'music:like_album' album.id %}" class="btn btn-default btn-sm album-like-unlike" role="button">
                    <span class="glyphicon glyphicon-thumbs-up"></span> <span class="like-unlike">Like</span>
                </a>
            {% endif %}
            <a href="{% url 'music:copy_album' album.id %}" data-name="{{ album.name }}" class="btn btn-default btn-md copy-album" role="button">
                <span class="glyphicon glyphicon-save"></span>
            </a>
        {% else %}
            <!-- update form -->
            <a href="{% url 'music:album_update' album.id %}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <!-- delete confirm -->
            <a href="{% url 'music:album_delete' album.id %}" data-name="{{ album.name }}" class="btn btn-default btn-sm delete-album" role="button">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        {% endif %}
    </p>
  </div>
</div>