{% load staticfiles %}
<html>
<head>
    {% include 'music/partials/head_snippet.html' %}
    <title>{% block title %}Trooze- Home for music lovers & artists{% endblock %}</title>
    {% block head %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps" rel="stylesheet" />
    <link href="{% static 'music/css/landing_page/index.css' %}" rel="stylesheet" />
    <link href="{% static 'music/css/landing_page/register.css' %}" rel="stylesheet" />
</head>

<body>
{% include 'music/home/partials/navbar.html' %}
<div class="container-fluid main-container">
    {% block content %}{% endblock %}
</div>
{% include 'music/home/partials/footer.html' %}
</body>

{% block script %}{% endblock %}
</html>