{% extends 'music/home/base.html' %}

{% block content %}
<div class="jumbotron">
    <h1>Welcome to Trooze! <span class="glyphicon glyphicon-heart heart"></span></h1>
    <div class="explain">
        <h4>
            <span class="Trooze">Trooze</span> is a home for both people who <strong>love</strong> music & artists who <strong>create</strong> music.
        </h4>
        <h4>
            <span class="Trooze">Trooze</span> gives you a great way to <strong>explore</strong> & <strong>share</strong> music of any genre.
        </h4>
        <h4>
            <span class="Trooze">Trooze</span> lets you <strong>upload</strong> your favorite albums & songs to the cloud.
        </h4>
        <h4>
             <span class="Trooze">Trooze</span> lets you <strong>download</strong> & <strong>copy</strong> albums uploaded by others, all around the world.
        </h4>
        <h4>
             <span class="Trooze">Trooze</span> will <strong>improve</strong> the way you consume music.
        </h4>
        <h4>
            - Well, I can't tell you everything. You have to try and see for yourself.
        </h4>
        <h4 class="sign-up-buttons">
            <a class="btn btn-primary" href="{% url 'music:register' %}">Regular Sign Up</a>
            <a class="btn btn-default" href="{% url 'music:register_artist' %}">Artist Sign Up</a>
        </h4>
        <h4>
            <p>
                <span class="glyphicon glyphicon-sunglasses"></span> Sounds cool, but I want more info first.
                &nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span> &nbsp;&nbsp;
            </p>
            <a class="btn btn-primary btn-md" href="#awsome-artist" data-toggle="collapse" data-target="#awsome-artist" role="button">I am an artist!</a>
            <a class="btn btn-default btn-md" href="#music-lover" data-toggle="collapse" data-target="#music-lover" role="button">I just <span class="glyphicon glyphicon-heart heart"></span> music!</a>
        </h4>
    </div>
</div>
{% include 'music/home/partials/artist.html' %}
{% include 'music/home/partials/music_lover.html' %}
{% endblock %}