<nav class="navbar navbar-inverse navbar-footer text-center">

    <div class="container-fluid">
        <div>
            &copy; Trooze 2016 <span class="glyphicon glyphicon-music" style="font-size:10px;"></span>
        </div>
        <div>
            <a href="" class="contact-us">Contact Us</a>
        </div>
    </div>

</nav>