<nav class="navbar navbar-inverse">

    <div class="container-fluid">

        <!-- navbar-header -->
        <div class="navbar-header">
            <a href="/" class="navbar-brand satisfy" href="/">Trooze &nbsp;</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-icons" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- navbar-collapse -->
        <div class="collapse navbar-collapse" id="navbar-icons">
          <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="{% url 'music:register' %}">
                    <span class="glyphicon glyphicon-log-in"></span> &nbsp; Sign Up
                </a>
          </ul>
        </div>
        <!-- /navbar-collapse -->
    </div>
</nav>